.toxins {
  margin: 2rem 0 0 0;
  line-height: 2;
  background-color: $light-grey;
  padding: 3rem 0;

  @include breakpoint(md) {
    margin-top: 5rem;
  }

  h2 {
    margin-bottom: 1.5rem;
  }

  img {
    margin-bottom: 1.5rem;

    @include breakpoint(md) {
      margin-bottom: 0;
    }
  }
}
